{% extends 'base.html.twig' %}
{% block body %}


  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->
  

  <!-- ***** Main Banner Area Start ***** -->
  <div class="main-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="header-text">
            
            <h2>Nature préservée, </h2>
            <h2>avenir assuré</h2>
            
            
          </div>
        </div>
         <div class="col-lg-5 offset-lg-1">
          <!--div class="owl-banner owl-carousel"-->
            <div >
              <img src="{{asset('assets/images/banner-01.png')}}" alt="" style="z-index:-1">
            </div>
         
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Main Banner Area End ***** -->
 
  <div class="categories-collections">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="categories">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <div class="line-dec"></div>
                  <h2><em>Eco</em>Gardien</h2>
                </div>
              </div>
              <div class="col-lg-2 col-sm-6">
                <div class="item">
                  <div class="icon">
                    <img src="{{asset('assets/images/icon-04.png')}}" alt=""> 
                  </div>
                  <h4></h4>
                </div>
              </div>
              <div class="col-lg-2 col-sm-6">
                <div class="item">
                  <div class="icon">
                    <img src="{{asset('assets/images/icon-02.png')}}" alt=""> 
                  </div>
                  <h4></h4>
                </div>
              </div>
              <div class="col-lg-2 col-sm-6">
                <div class="item">
                  <div class="icon">
                    <img src="{{asset('assets/images/icon-03.png')}}"  alt=""> 
                  </div>
                  <h4></h4>
                </div>
              </div>
              <div class="col-lg-2 col-sm-6">
                <div class="item">
                  <div class="icon">
                    <img src="{{asset('assets/images/icon-04.png')}}" alt=""> 
                  </div>
                  <h4></h4>
                </div>
              </div>
              <div class="col-lg-2 col-sm-6">
                <div class="item">
                  <div class="icon">
                    <img src="{{asset('assets/images/icon-04.png')}}" alt=""> 
                  </div>
                  <h4></h4>
                </div>
              </div>
              <div class="col-lg-2 col-sm-6">
                <div class="item">
                  <div class="icon">
                    <img src="{{asset('assets/images/icon-04.png')}}" alt=""> 
                  </div>
                  <h4></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="collections">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <div class="line-dec"></div>
                  
                </div>
              </div>
              <div class="col-lg-12">
                <div class="owl-collection owl-carousel">
                  <div class="item">
                    <img src="{{asset('assets/images/collection-01.jpg')}}" alt=""> 
                    <div class="down-content">
                      <h4>Mutant Bored Ape Yacht Club</h4>
                      <span class="collection">Items In Collection:<br><strong>310/340</strong></span>
                      <span class="category">Category:<br><strong>Digital Crypto</strong></span>
                      <div class="main-button">
                        <a href="explore.html">Explore Mutant</a>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <img src="assets/images/collection-01.jpg" alt="">
                    <div class="down-content">
                      <h4>Bored Ape Kennel Club</h4>
                      <span class="collection">Items In :<br><strong>324/324</strong></span>
                      <span class="category">Category:<br><strong>Visual Art</strong></span>
                      <div class="main-button">
                        <a href="explore.html">Explore Bored Ape</a>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <img src="assets/images/collection-01.jpg" alt="">
                    <div class="down-content">
                      <h4>Genesis Collective Statue</h4>
                      <span class="collection">Items In Collection:<br><strong>380/394</strong></span>
                      <span class="category">Category:<br><strong>Music Art</strong></span>
                      <div class="main-button">
                        <a href="explore.html">Explore Genesis</a>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <img src="assets/images/collection-01.jpg" alt="">
                    <div class="down-content">
                      <h4>Worldwide Artwork Ground</h4>
                      <span class="collection">Items In Collection:<br><strong>426/468</strong></span>
                      <span class="category">Category:<br><strong>Blockchain</strong></span>
                      <div class="main-button">
                        <a href="explore.html">Explore Worldwide</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>

  

  <div class="currently-market">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2>Nos <em>Fonctionnalitées</em> .</h2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="filters">
          
          </div>
        </div>
        <div class="col-lg-12">
          <div class="row grid">
            <div class="col-lg-6 currently-market-item all dig">
              <div class="item">
                <div class="left-image">  
                  <img src="{{asset('assets/images/imageFronte5.jpg')}}" alt="" style="border-radius: 20px; min-width: 195px;">
                </div>
                <div class="right-content">
                  <h4>Gestion De utilisateur</h4>
                  <span class="author">
                  </span>
                  <div class="line-dec"></div>
                  <span class="bid">
                    Assurer La bonne gestion <br><strong>Des utilisateurs</strong><br><em></em>
                  </span>
                  <div class="text-button">
                    <a href="details.html">Voir Details</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 currently-market-item all dig">
              <div class="item">
                <div class="left-image">  
                  <img src="{{asset('assets/images/imageFronte3.jpg')}}" alt="" style="border-radius: 20px; min-width: 195px;">
                </div>
                <div class="right-content">
                  <h4>Gestion De Workshop</h4>
                  <span class="author">
                  </span>
                  <div class="line-dec"></div>
                  <span class="bid">
                    Developper vos connaissances avec nos <br><strong>Workshop</strong><br><em></em>
                  </span>
                  <div class="text-button">
                    <a href="details.html">Voir Details</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 currently-market-item all dig">
              <div class="item">
                <div class="left-image">  
                  <img src="{{asset('assets/images/imageFronte1.jpg')}}" alt="" style="border-radius: 20px; min-width: 195px;">
                </div>
                <div class="right-content">
                  <h4>Gestion De Recyclage</h4>
                  <span class="author">
                  </span>
                  <div class="line-dec"></div>
                  <span class="bid">
                    Deposer, collecter et recycler en une clin d'oeil grace a notre gestion de <br><strong>Recyclage</strong><br><em></em>
                  </span>
                  <div class="text-button">
                    <a href="details.html">Voir Details</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 currently-market-item all dig">
              <div class="item">
                <div class="left-image">  
                  <img src="{{asset('assets/images/imageFronte7.jpg')}}" alt="" style="border-radius: 20px; min-width: 195px;">
                </div>
                <div class="right-content">
                  <h4>Gestion De Produits</h4>
                  <span class="author">
                  </span>
                  <div class="line-dec"></div>
                  <span class="bid">
                    Sauver la nature grace a nos <br><strong>Produits</strong><br><em></em>
                  </span>
                  <div class="text-button">
                    <a href="details.html">Voir Details</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 currently-market-item all dig">
              <div class="item">
                <div class="left-image">  
                  <img src="{{asset('assets/images/imageFronte8.jpg')}}" alt="" style="border-radius: 20px; min-width: 195px;">
                </div>
                <div class="right-content">
                  <h4>Gestion D'Evenement</h4>
                  <span class="author">
                  </span>
                  <div class="line-dec"></div>
                  <span class="bid">
                    Viver l'aventure en participant a nos <br><strong>Evenements</strong><br><em></em>
                  </span>
                  <div class="text-button">
                    <a href="details.html">Voir Details</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 currently-market-item all dig">
              <div class="item">
                <div class="left-image">  
                  <img src="{{asset('assets/images/imageFronte.avif')}}" alt="" style="border-radius: 20px; min-width: 195px;">
                </div>
                <div class="right-content">
                  <h4>Gestion De Consommation</h4>
                  <span class="author">
                  </span>
                  <div class="line-dec"></div>
                  <span class="bid">
                    Tracker votre <strong>Consommation</strong><br> Et limiter les degats.
                  </span>
                  <div class="text-button">
                    <a href="details.html">Voir Details</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
   <!-- <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2022 <a href="#">Liberty</a> NFT Marketplace Co., Ltd. All rights reserved.
          &nbsp;&nbsp;
          Designed by <a title="HTML CSS Templates" rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
        </div>
      </div>
    </div>-->
  </footer>
{% endblock %}